{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
        <tr>
            <th> Date </th>
            <th> Symbol </th>
            <th> Shares </th>
            <th> Purchase Price</th>
        </tr>
    {% for stock in stocks %}
        <tr>
            <td> {{ stock.date_time }} </td>
            <td> {{ stock.symbol }} </td>
            <td> {{ stock.number }} </td>
            <td> {{ stock.price }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}